.navbar{
    background-color:#0f2027 ;
    height:60px;
}

body{
   font-family:'poppins',sans-serif;
   background:linear-gradient(to right,#0f2027,#203a43,#2c5364);
   color:#fff;
   margin:0;
   padding:20px;
}

.list{
   display:flex;
   justify-content: space-evenly;
   padding-top: 15px;
   font-size: 20px;
}

a{
   text-decoration: none;
   color: white;
}

.heading{
   text-align:center;
   font-size:3em;
   color:#00ffff;
   margin-bottom: 30px;
   text-shadow:0 0 10px #00ffff;
}

.image{
   display:block;
   margin-left:335px;
   max-width:80% ;
   border-radius:15px ;
   
}

p{
   font-size:20px;
   margin-left:20px;
   margin-right: 20px;
   margin-top: 30px;
   box-shadow:4px 6px 2px black;
   border:2px solid rgb(93, 200, 200);
   border-radius:10px;
   box-shadow:-4px 6px 2px rgb(93, 200, 200);
   color:white;
   padding: 15px 20px 15px 20px;
}

.footer{
    height: 40px;
    background-color:#0f2027 ;
    padding-top: 25px;
    font-size: 16px;
    padding-left: 50px;
}